  body {
    background-color:#040404;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace, sans-serif;
    font-weight: 400;
  }
  
  header {
    background-color: #040404;
    color: #b7b6b5;
    padding: 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #84643e;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #84643e;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h1 {
    text-align: center;
    color: #b7b6b5;
  }

  h2 {
    text-align: center;
    color: #84643e;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content p {
    max-width: 600px;
    text-align: justify;
    color: #b7b6b5;
  }
  
  .content img {
    max-width: 300px;
    margin-top: 20px;
  }
  
  footer {
    background-color: #040404;
    color:#84643e;
    padding: 10px;
    text-align: center;
  }
  